<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load staticfiles %}

    <script src="{% static 'lib/d3.min.js' %}"></script>
    <script src="{% static 'lib/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/semantic/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/semantic/semantic.min.css' %}">
    <script src="{% static 'lib/d3.min.js' %}"></script>
    <script src="{% static 'lib/d3-legend.min.js' %}"></script>

    <script src="{% static 'lib/crossfilter.min.js' %}"></script>
    <script src="{% static 'lib/d3-queue.v3.min.js' %}"></script>

    <script src="{% static 'lib/dc.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/dc.min.css' %}">
    <style>
        #legend {
            position: absolute;
            bottom: 0;
            left: 50px;
            width: 200px;
            height: 200px
        }

        .tabular .item {
            cursor: pointer;
        }

        .tab.segment {
            opacity: 0
        }

        #count {
            float: none;
        }
    </style>

</head>
<body>


<div class="ui secondary pointing menu">
    <div class="ui container">
        <a class="item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item" href="/upload">
            Upload
        </a>
        <div class="right menu">
            <div class="ui pointing dropdown link item">
                <span class="text">{{ user }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">Categories</div>
                    <a class="item" href="/admin">Admin</a>
                    <a class="item" href="/admin/password_change/">Change Password</a>
                    <div class="divider"></div>
                    <a class="item" href="/admin/logout/">Log Out</a>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="ui container">


    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="first" id="projects">Interventions</div>
        <div class="item" data-tab="second" id="funding">Funding</div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="first">

    </div>
    <div class="ui bottom attached tab segment active" data-tab="second">

    </div>


    {#    <select name="skills" multiple="" class="ui fluid dropdown">#}
    {#        <option value="">Skills</option>#}
    {#        <option value="angular">Angular</option>#}
    {#        <option value="css">CSS</option>#}
    {#        <option value="design">Graphic Design</option>#}
    {#        <option value="ember">Ember</option>#}
    {#        <option value="html">HTML</option>#}
    {#        <option value="ia">Information Architecture</option>#}
    {#        <option value="javascript">Javascript</option>#}
    {#        <option value="mech">Mechanical Engineering</option>#}
    {#        <option value="meteor">Meteor</option>#}
    {#        <option value="node">NodeJS</option>#}
    {#        <option value="plumbing">Plumbing</option>#}
    {#        <option value="python">Python</option>#}
    {#        <option value="rails">Rails</option>#}
    {#        <option value="react">React</option>#}
    {#        <option value="repair">Kitchen Repair</option>#}
    {#        <option value="ruby">Ruby</option>#}
    {#        <option value="ui">UI Design</option>#}
    {#        <option value="ux">User Experience</option>#}
    {#    </select>#}


    <div class="ui grid">
        <div class="large screen only six column row">
            <div class="ui statistic left floated column">
                <div class="value" id="count">
                    <span class="filter-count"></span>
                </div>
                <div class="label">
                    projects selected
                </div>
            </div>
            <div class="ui statistic right floated column">
                <div class="value">
                    <span class="filter-funding" id="funding-total"></span>
                </div>
                <div class="label">
                    funding
                </div>
            </div>
        </div>
        <div class="large screen only row">
            <div class="right floated right aligned six wide column">
                <button class="ui button" id="reset">
                    Clear
                </button>
            </div>
        </div>
        <div class="large screen only row">
            <div class="twelve wide column">
                <select name="admin-level" id="geolevel" class="ui fluid dropdown">
                    <option value="province">Province</option>
                    <option value="district">District</option>
                </select>
                <div id="map">

                </div>
                <svg id="legend"></svg>

            </div>
            <div id="partners" class="four wide column"></div>
        </div>

        <div id="sector" class="one column large screen only row">
        </div>


        <div class="two column large screen only row">
            <div id="provinces" class="column"></div>
            <div id="status" class="column"></div>
        </div>

    </div>
</div>

</body>


<script>
    $('.menu.dropdown').dropdown({
        action: 'nothing'
    });
    $('.dropdown').dropdown();

    $('.menu .item')
        .tab()
    ;

</script>
<script src="{% static 'js/charts.js' %}"></script>
<script>

    {#    Что за хуйня, почему {% static %} не работает? #}

    d3.queue()
        .defer(d3.json, '{% static "data/laos.geojson" %}')
        .defer(d3.json, "/projects2/")
        .defer(d3.json, '{% static "data/laos-districts.geojson" %}')
        // data/eu-projects.json
        // http://127.0.0.1:8000/static/data/eu-projects.json
        .await(loadData);

    function ResetAll() {
        dc.filterAll();
        dc.redrawAll();
    }

    $('#reset').on('click', function (e) {
        ResetAll();
    });


</script>
</html>