<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <script src="{% static 'lib/d3.min.js' %}"></script>
    <script src="{% static 'lib/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/semantic/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/semantic/semantic.min.css' %}">
    <script src="{% static 'lib/d3.min.js' %}"></script>


    <script src="{% static 'lib/crossfilter.min.js' %}"></script>
    <script src="{% static 'lib/d3-queue.v3.min.js' %}"></script>

    <script src="{% static 'lib/dc.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/dc.min.css' %}">

</head>
<body>


<div class="ui secondary pointing menu">
    <div class="ui container">
        <a class="item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item" href="/upload">
            Upload
        </a>
        <div class="right menu">
            <div class="ui pointing dropdown link item">
                <span class="text">{{ user }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">Categories</div>
                    <a class="item" href="/admin">Admin</a>
                    <a class="item" href="/admin/password_change/">Change Password</a>
                    <div class="divider"></div>
                    <a class="item" href="/admin/logout/">Log Out</a>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="ui container">


    <div class="ui top attached tabular menu">
        <div class="active item">Interventions</div>
        <div class="item">Funding</div>
    </div>
    <div class="ui statistic">
        <div class="value" id="count">
            <span class="total-count"></span>
        </div>
        <div class="label">
            {{ data }}
        </div>
    </div>
    <div class="ui right aligned grid">
        <div class="right floated left aligned six wide column">
            <button class="ui button" id="reset">
                Clear
            </button>
        </div>
    </div>


    {#    <select name="skills" multiple="" class="ui fluid dropdown">#}
    {#        <option value="">Skills</option>#}
    {#        <option value="angular">Angular</option>#}
    {#        <option value="css">CSS</option>#}
    {#        <option value="design">Graphic Design</option>#}
    {#        <option value="ember">Ember</option>#}
    {#        <option value="html">HTML</option>#}
    {#        <option value="ia">Information Architecture</option>#}
    {#        <option value="javascript">Javascript</option>#}
    {#        <option value="mech">Mechanical Engineering</option>#}
    {#        <option value="meteor">Meteor</option>#}
    {#        <option value="node">NodeJS</option>#}
    {#        <option value="plumbing">Plumbing</option>#}
    {#        <option value="python">Python</option>#}
    {#        <option value="rails">Rails</option>#}
    {#        <option value="react">React</option>#}
    {#        <option value="repair">Kitchen Repair</option>#}
    {#        <option value="ruby">Ruby</option>#}
    {#        <option value="ui">UI Design</option>#}
    {#        <option value="ux">User Experience</option>#}
    {#    </select>#}
    <select name="disaggregation" class="ui fluid dropdown">
        <option value="province">Province</option>
        <option value="district">District</option>
    </select>
    <div class="ui grid">
        <div class="two column large screen only row">
            <div id="map" class="column"></div>
            <div id="partners" class="column"></div>
        </div>

        <div id="sector" class="one column large screen only row">
        </div>


        <div class="two column large screen only row">
            <div id="provinces" class="column"></div>
            <div id="status" class="column"></div>
        </div>

    </div>

</div>

</body>


<script>

    $('.menu .ui.dropdown')
        .dropdown({
            action: 'nothing'
        })
    ;

    $('.ui.dropdown')
        .dropdown()
    ;
</script>
<script src="{% static 'js/charts.js' %}"></script>
<script>

    d3.queue()
        .defer(d3.json, "{% static 'data/laos.geojson' %}")
        .defer(d3.json, "http://127.0.0.1:8000/projects/")
        // data/eu-projects.json
        // http://127.0.0.1:8000/static/data/eu-projects.json
        .await(loadData);

    function ResetAll() {
        dc.filterAll();
        dc.redrawAll();
    }

    $('#reset').on('click', function (e) {
        ResetAll();
    });

</script>
</html>